# Include Misc files
include README.rst
include LICENSE

# inlcude templatesc
recursive-include example/webapp *

# include static js files
recursive-include examples/webapp/static/js *

# include static css files
recursive-include exanples/webapp/static/css *

# include example data sets
recursive-include test_example_datasets *

# include docs
recursive-include docs *


